* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

h1,
h2,
h3,
h4,
h5,
h6 p {
  font-size: inherit; }

a {
  color: inherit;
  text-decoration: none; }

input,
button {
  border: none;
  font-family: inherit; }

button {
  background: none;
  cursor: pointer; }

input:focus,
button:focus {
  outline: none; }

ul,
li {
  list-style: none; }

html,
body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #4a4d4e; }

.container {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px; }

.nav {
  padding-top: 15px;
  padding-bottom: 15px; }
  .nav__row {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 140px; }

.logo {
  display: flex;
  align-items: center; }
  .logo img {
    margin-right: 40px; }

.navigation ul {
  display: flex; }
.navigation li:not(:last-child) {
  margin-right: 50px; }
.navigation a {
  color: #4a4d4e;
  font-size: 24px;
  font-weight: 300; }

.header__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f9f9f9;
  margin-top: 185px;
  padding-bottom: 80px; }
.header__text p {
  width: 490px;
  height: 90px;
  line-height: 25.2px; }
.header__title {
  width: 490px;
  height: 90px;
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: 700;
  line-height: 48px; }
.header__img {
  position: relative;
  top: 70px; }
.header__list {
  display: flex;
  justify-content: start;
  align-items: center;
  font-size: 18px; }
.header__list img {
  margin-right: 25px; }
.header__img-list {
  display: flex;
  position: relative;
  top: 48px;
  left: -65px; }
.header__list p {
  width: 190px;
  margin-left: 15px; }
.header__top {
  background-color: #f9f9f9; }

.header-content {
  margin-bottom: 35px; }

.content {
  background: url(/img/bg.png) no-repeat;
  height: 450px;
  margin: 0 auto;
  margin-left: 150px; }
  .content h1 {
    position: relative;
    font-size: 90px;
    width: 360px;
    height: 240px;
    top: 180px;
    left: 95px;
    color: #4a4d4e; }

.form__button {
  display: inline-block;
  height: 40px;
  font-size: 14px;
  padding: 8px 40px 8px 40px;
  border-radius: 10px;
  background: #0093e6;
  color: #ffffff;
  margin-top: 55px;
  font-weight: 700;
  transition: background-color 0.2s ease-in; }
  .form__button:hover {
    background-color: #0884c9; }

.benefits {
  padding-top: 160px;
  background-color: #f9f9f9;
  padding-bottom: -100px; }
  .benefits__row {
    display: inline-block;
    justify-content: space-between;
    margin-left: 65px;
    margin-right: 40px;
    padding-bottom: 100px; }
    .benefits__row img {
      margin-bottom: 30px; }
    .benefits__row li {
      display: flex;
      width: 340px;
      line-height: 22px;
      font-weight: 300;
      padding-bottom: 8px; }
    .benefits__row li::before {
      content: "\2022";
      color: #0093e6;
      margin-right: 10px;
      width: 20px; }
  .benefits__item p {
    width: 360px;
    height: 75px;
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 70px; }
  .benefits__item-title {
    width: 360px;
    height: 68px;
    margin-bottom: 20px;
    line-height: 33px;
    font-size: 28px;
    font-weight: 700; }

.card {
  position: relative;
  top: 240px;
  margin-left: 225px;
  background-color: #0093e6;
  padding: 90px 0 10px 130px;
  border-radius: 30px 0px 0px 30px;
  margin-bottom: 110px; }
  .card__row {
    display: inline-block;
    justify-content: space-between; }
  .card__item-title {
    position: relative;
    top: -80px;
    left: 140px;
    width: 170px;
    font-size: 25px;
    font-weight: 400;
    line-height: 32px;
    margin-right: 155px;
    color: #ffffff; }

.title {
  padding-top: 160px; }
  .title h2 {
    width: 480px;
    font-weight: 700;
    font-size: 40px;
    margin-left: 200px; }
  .title__line-text {
    display: inline-block;
    margin-left: 70px;
    margin-bottom: 70px;
    width: 365px;
    font-size: 35px;
    font-weight: 700;
    line-height: 40px; }
  .title__item {
    display: inline-block;
    justify-content: center;
    margin-left: 220px;
    margin-bottom: 15px; }
    .title__item img {
      margin-right: 30px; }
    .title__item h5 {
      font-size: 18px;
      line-height: 30px;
      font-weight: 400;
      position: relative;
      top: -30px;
      margin-left: 70px;
      width: 310px; }
  .title__line {
    width: 730px;
    margin-top: -85px;
    margin-left: 630px;
    padding-bottom: 120px; }

.objects {
  padding-bottom: 70px; }
  .objects__row {
    display: flex;
    justify-content: space-between;
    background-color: #f9f9f9;
    margin-bottom: -150px; }
  .objects__img {
    position: relative;
    top: 150px; }
  .objects__title {
    font-size: 28px;
    line-height: 33px;
    font-weight: 700;
    margin-bottom: 20px; }
  .objects__text {
    max-width: 490px;
    padding-left: 100px;
    margin-top: 150px;
    font-size: 18px;
    line-height: 23px; }
    .objects__text p {
      margin-bottom: 60px; }
    .objects__text li {
      display: inline-block;
      margin-right: 35px;
      margin-bottom: 20px; }
    .objects__text li::before {
      content: "\2022";
      color: #0093e6;
      margin-right: 10px; }

.cf {
  margin-top: 150px;
  padding-bottom: 150px;
  background-color: #ffffff;
  padding-top: 250px; }

.menu {
  width: 25%;
  float: left;
  margin-bottom: -110px;
  padding-bottom: 15px;
  color: #333333;
  opacity: 0.2; }

.menu__slide {
  max-width: 950px;
  margin: 50px auto; }

.menu .icon {
  display: block;
  width: 50px;
  height: 50px;
  font-size: 20px;
  line-height: 50px; }

.menu .title {
  position: relative;
  top: -45px; }

.bar {
  width: 100%;
  height: 5px;
  border-radius: 4px;
  background: #f9f9f9;
  margin: 20px 0;
  clear: both; }

.bar #slide-bar {
  width: 25%;
  height: 5px;
  border-radius: 4px;
  background: #0093e6; }

.menu:nth-child(1) {
  opacity: 1; }

.menu,
.bar #slide-bar {
  transition: all 500ms ease-in-out;
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out; }

.menu label:hover {
  cursor: pointer;
  opacity: 1; }

.slide__line-block {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  margin-left: 150px;
  margin-right: 100px; }

.slide__line-text {
  width: 290px;
  height: 60px;
  font-size: 40px;
  font-weight: 700;
  line-height: 40px; }

.slide__line {
  position: relative;
  top: 20px;
  width: 900px;
  height: 4px; }

.slide__line-btn {
  display: flex;
  justify-content: space-between;
  margin-top: 150px;
  margin-right: 100px;
  margin-left: 260px; }

.slide__line-img {
  width: 850px;
  height: 4px;
  margin-top: 20px;
  margin-bottom: 50px; }

.slide__btn {
  height: 40px;
  font-size: 14px;
  padding: 8px 60px 8px 60px;
  border-radius: 10px;
  background: #0093e6;
  color: #ffffff;
  line-height: 18px;
  transition: background-color 0.2s ease-in; }
  .slide__btn:hover {
    background-color: #0884c9; }

.bottom__btn {
  height: 40px;
  font-size: 14px;
  padding: 8px 60px 8px 60px;
  border-radius: 10px;
  background: #0093e6;
  color: #ffffff;
  line-height: 18px; }

.slide__bottom-btn .bottom__btn {
  margin-top: 40px;
  margin-left: 95px; }

.bottom__btn {
  transition: background-color 0.2s ease-in; }
  .bottom__btn:hover {
    background-color: #0884c9; }

.testimonial {
  margin-top: 150px; }

.swiper {
  width: 85%;
  height: 450px;
  padding: 0 20px 30px 17px; }

.swiper-slide {
  text-align: center;
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0px 12px 14px 3px rgba(34, 60, 80, 0.2); }

.swiper-slide-text {
  display: block;
  align-items: center;
  margin-right: 25px; }

.swiper-slide h2,
img {
  position: relative; }

.swiper-slide img {
  padding: 0px 0px 245px 45px; }

.swiper-slide h2 {
  font-size: 35px;
  padding: 0px 0px 245px 65px; }

.swiper-slider-title {
  width: 280px;
  position: absolute;
  left: 40px;
  margin-top: 55px; }

.swiper-slide li {
  display: flex;
  padding: 5px;
  text-align: left;
  list-style-type: none;
  font-size: 18px;
  font-weight: 300; }

.swiper-slide li::before {
  content: "\2022";
  color: #0093e6;
  padding-right: 10px; }

.card-testimonial {
  display: inline-block;
  max-width: 340px;
  margin-left: 35px;
  height: 440px;
  border-radius: 20px;
  overflow: hidden;
  background: #ffffff;
  transition: box-shadow 0.2s ease-in; }
  .card-testimonial:hover {
    box-shadow: 0px 10px 52px rgba(0, 0, 0, 0.08); }
  .card-testimonial__img {
    margin-left: 30px;
    margin-top: 50px; }

.testimonial-name {
  font-size: 36px;
  font-weight: 400;
  line-height: 32px;
  margin-left: 150px;
  margin-bottom: 30px;
  margin-top: -70px; }

.card-testimonial__body {
  padding: 20px;
  font-size: 18px;
  font-weight: 300;
  line-height: 25px; }
  .card-testimonial__body img {
    padding-right: 10px; }
  .card-testimonial__body p {
    margin-bottom: 40px; }

div.prev-next-buttons {
  cursor: pointer;
  position: relative;
  top: 40%;
  width: 100%; }

div.prev-next-buttons > a {
  color: #0093e6;
  background-color: #ffffff;
  border-radius: 10px;
  min-width: 60px;
  padding: 15px;
  text-transform: uppercase;
  transition: box-shadow 0.2s ease-in; }
  div.prev-next-buttons > a:hover {
    box-shadow: 0px 10px 52px rgba(0, 0, 0, 0.08); }

a.prev-button {
  top: 270px;
  left: -60px;
  position: absolute;
  text-align: left; }

a.next-button {
  top: 270px;
  right: 30px;
  position: absolute;
  text-align: right; }

input {
  line-height: normal; }

textarea {
  overflow: auto; }

#container {
  max-width: 570px;
  margin-top: 60px;
  margin-left: 200px;
  position: relative; }
  #container h2 {
    width: 370px;
    font-size: 30px;
    font-weight: 700; }

form {
  margin: 50px 0; }

.underline {
  border-bottom: solid 2px #474544;
  margin: -0.512em auto;
  width: 80px; }

.icon_wrapper {
  margin: 50px auto 0;
  width: 100%; }

.icon {
  display: block;
  fill: #474544;
  height: 50px;
  width: 50px; }

.email {
  float: right;
  width: 45%; }

input[type="text"],
[type="email"],
select,
textarea {
  background: none;
  border: none;
  border-bottom: solid 1px #474544;
  color: #474544;
  font-size: 1em;
  font-weight: 400;
  letter-spacing: 1px;
  margin: 0em 0 1.875em 0;
  padding: 0 0 0.875em 0;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }

input[type="text"]:focus,
[type="email"]:focus,
textarea:focus {
  outline: none;
  padding: 0 0 0.875em 0; }

.message {
  float: none; }

.name {
  float: left;
  width: 100%; }

select {
  background: url("https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-arrow-down-32.png") no-repeat right;
  outline: none;
  -moz-appearance: none;
  -webkit-appearance: none; }

select::-ms-expand {
  display: none; }

.subject {
  width: 100%; }

.telephone {
  width: 45%; }

textarea {
  line-height: 150%;
  height: 150px;
  resize: none;
  width: 100%; }

::-webkit-input-placeholder {
  color: #474544; }

:-moz-placeholder {
  color: #474544;
  opacity: 1; }

::-moz-placeholder {
  color: #474544;
  opacity: 1; }

:-ms-input-placeholder {
  color: #474544; }

#form_button {
  background: none;
  border: solid 2px #474544;
  color: #474544;
  cursor: pointer;
  display: inline-block;
  font-size: 0.875em;
  font-weight: bold;
  outline: none;
  padding: 20px 35px;
  text-transform: uppercase;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }

#form_button:hover {
  background: #474544;
  color: #f2f3eb; }

@media screen and (max-width: 768px) {
  #container {
    margin: 20px auto;
    width: 95%; } }
@media screen and (max-width: 480px) {
  h1 {
    font-size: 26px; }

  .underline {
    width: 68px; }

  #form_button {
    padding: 15px 25px; } }
@media screen and (max-width: 420px) {
  h1 {
    font-size: 18px; }

  .icon {
    height: 35px;
    width: 35px; }

  .underline {
    width: 53px; }

  input[type="text"],
  [type="email"],
  select,
  textarea {
    font-size: 0.875em; } }
:root {
  --light-yellow: #fdf2d2;
  --orange: #0093e6;
  --light-gray: #e3e4e8;
  --gray: #71738b;
  --light-blue: #7a7c93;
  --slider-handle-size: 14px;
  --slider-handle-border-radius: 2px;
  --slider-handle-margin-top: -4px;
  --slider-track-height: 6px;
  --slider-track-border-radius: 4px; }

#wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }

#sliderContainer {
  width: 100%; }

#sliderContainer > div:first-child {
  margin-bottom: 48px; }

.tick-slider-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px; }

.tick-slider-header > h5 {
  margin: 0;
  font-size: 18px;
  font-weight: 300;
  color: var(--gray); }

.tick-slider {
  position: relative;
  width: 100%; }

.tick-slider-value-container {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
  font-size: 18px;
  color: var(--gray); }

.tick-slider-value {
  position: absolute;
  top: 0;
  font-weight: bold;
  color: var(--blue);
  border-radius: var(--slider-handle-border-radius); }

.tick-slider-value > div {
  animation: bulge 0.3s ease-out; }

.tick-slider-background,
.tick-slider-progress,
.tick-slider-tick-container {
  position: absolute;
  bottom: 5px;
  left: 0;
  height: var(--slider-track-height);
  pointer-events: none;
  border-radius: var(--slider-track-border-radius);
  z-index: 0; }

.tick-slider-background {
  width: 100%;
  background-color: var(--light-gray); }

.tick-slider-tick-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 calc(var(--slider-handle-size) / 2); }

.tick-slider-tick {
  width: 3px;
  height: 14px;
  border-radius: var(--slider-track-border-radius);
  background-color: var(--light-gray); }

.tick-slider-label {
  opacity: 0.85;
  transition: opacity 0.1s ease; }

.tick-slider-label.hidden {
  opacity: 0; }

@keyframes bulge {
  0% {
    transform: scale(1); }
  25% {
    transform: scale(1.1); }
  100% {
    transform: scale(1); } }
input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  height: 100%;
  background: transparent;
  outline: none;
  margin: 5px 0; }

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none; }

input[type="range"]:focus {
  outline: none; }

input[type="range"]::-moz-focus-outer {
  border: 0; }

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: var(--slider-handle-size);
  height: var(--slider-handle-size);
  background: var(--orange);
  border-radius: var(--slider-handle-border-radius);
  cursor: pointer;
  margin-top: var(--slider-handle-margin-top);
  -webkit-transform: scale(1);
  transform: scale(1);
  transition: transform 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275); }

input[type="range"]:hover::-webkit-slider-thumb,
input[type="range"]:focus::-webkit-slider-thumb {
  transform: scale(1.2); }

input[type="range"]::-moz-range-thumb {
  -webkit-appearance: none;
  width: var(--slider-handle-size);
  height: var(--slider-handle-size);
  background: var(--orange);
  border: none;
  border-radius: var(--slider-handle-border-radius);
  cursor: pointer;
  transition: transform 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275); }

input[type="range"]:hover::-moz-range-thumb,
input[type="range"]:focus::-moz-range-thumb {
  transform: scale(1.2); }

input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: var(--slider-track-height);
  cursor: pointer;
  background: none;
  border-radius: var(--slider-track-border-radius); }

input[type="range"]::-moz-range-track {
  width: 100%;
  height: var(--slider-track-height);
  cursor: pointer;
  background: none;
  border-radius: var(--slider-track-border-radius); }

input[type="range"]:focus::-webkit-slider-runnable-track {
  background: none; }

input[type="range"]:active::-webkit-slider-runnable-track {
  background: none; }

.contacts {
  background: #ffffff;
  padding-top: 160px;
  padding-bottom: 225px; }
  .contacts__title-info {
    position: absolute;
    left: 920px;
    margin-top: 65px; }
    .contacts__title-info h2 {
      padding-bottom: 40px;
      width: 304px;
      font-weight: 700;
      font-size: 30px; }
    .contacts__title-info a {
      cursor: pointer;
      color: #0093e6; }
      .contacts__title-info a:hover {
        text-decoration: underline; }
    .contacts__title-info p {
      width: 350px;
      font-weight: 300;
      line-height: 19px;
      padding-top: 65px; }

.page-dark {
  padding-top: 80px;
  background: #ffffff; }

.footer {
  display: flex;
  justify-content: space-between;
  background: #333333;
  padding-bottom: 35px; }
  .footer-icons {
    margin-top: 50px;
    margin-left: 125px; }
    .footer-icons a {
      padding-right: 35px; }
    .footer-icons p {
      padding-top: 115px;
      color: #ffffff; }
  .footer-nav {
    display: flex;
    margin-left: 100px;
    color: #ffffff; }
  .footer-list {
    padding-top: 50px; }
    .footer-list li:not(:last-child) {
      padding-right: 250px; }
  .footer-list-item {
    padding-bottom: 25px; }
  .footer-list-link {
    font-size: 20px;
    font-weight: 400; }

/*# sourceMappingURL=main.css.map */
