.objects {
  padding-bottom: 70px;

  &__row {
    display: flex;
    justify-content: space-between;
    background-color: $bg-color;
    margin-bottom: -150px;
  }

  &__img {
    position: relative;
    top: 150px;
  }

  &__title {
    font-size: 28px;
    line-height: 33px;
    font-weight: 700;
    margin-bottom: 20px;
  }

  &__text {
    max-width: 490px;
    padding-left: 100px;
    margin-top: 150px;
    font-size: 18px;
    line-height: 23px;

    p {
      margin-bottom: 60px;
    }

    li {
      display: inline-block;
      margin-right: 35px;
      margin-bottom: 20px;
    }

    li::before {
      content: "\2022";
      color: $button-color;
      margin-right: 10px;
    }
  }
}
